:root {
    --primary-color: #5e35b1;
}

.test-button {
    transition-delay: 0.2s;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
}

.test-button:hover {
    padding: 30px;
    background-color: royalblue;
    transition: transform 0.3s ease;
    border-radius: 20px;
    border-color: black;
    border-width: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    background-color: blue;
    padding: 120px;
    border-radius: 12px;
    display: flex;
}